{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "node": true,
    "es6": true
  },

  "plugins": ["import"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "script",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "modules": false,
      "jsx": false
    }
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "no-unexpected-multiline": "off",
    "no-else-return": "off",
    "no-restricted-syntax": "off",
    "max-len": "off",
    "func-names": "off",
    "import/no-dynamic-require": "off",
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "camelcase": [
      "error",
      {
        "properties": "never",
        "ignoreDestructuring": true
      }
    ],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-console": "off",
    "strict": [2, "global"],
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ],
    "arrow-body-style": ["error", "as-needed"]
  },
  "globals": {}
}
